*{
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
html{
    scroll-behavior: smooth;
}
.main-container{
    background-color: white;
}


/********************* navbar *******************************/
.navbar {
    background-color: white;
    overflow: auto;
    height: 200px;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: fixed;
    top: 0;
}
.navbar-item-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 900px;
}
.nav-item {
    float: left;
    display: block;
    color: black;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    padding: 14px 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
}
.nav-item:hover {
    color: #010C80;
}
.nav-logo{
    width: 450px;
    height: auto;
}
.line{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 200px;
    position: fixed;
}
.nav-line {
    border: none;
    border-top: 5px solid gray; 
    width: 100%; 
}
/**************************************************************/

/***************************** footer *************************/






/**************************************************************/


/******************** main home / index *****************************/

.banner{
    background: url(../assets/home-banner.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 600px;
    justify-content: center;
    align-items: center;
}
.img-logo-banner{
    width: 1200px;
    height: auto;
    margin-left: 100px;
}
#whats-new-btn{
    background-color: #010C80;
    border: none;
    border-radius: 500px;
    height: 100px;
    width: 400px;
    color: white;
    margin-left: 100px;
    margin-top: 50px;
    font-size: 48px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#whats-new-btn:hover{
    background-color: #000753;
    cursor: pointer;
}
#whats-new-btn:active{
    border: 5px solid #010C80; ;
}
/****************** introduction ************************/
.story-box-about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: #010C80;
    width: 100%;
    padding: 200px;
    margin: auto;
    height: auto;
}
.img-story-container{
    width: 500px;
    height: 500px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.story-img{
    width: 400px;
    height: auto;
}
.story-desc-box{
    display: flex;
    flex-direction: column;
}
.story-desc{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    text-align: left;
    margin-left: 50px;
    color: white;
    line-height: 1.75;
    text-align: justify;
}
.learn-more-history{
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 50px;
    margin-top: 200px;
}
.learn-more-history:hover{
    color: gray;
}
/********************** cereal intro **************************/
.many-product{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.many-products-img{
    width: 50%;
    height: auto;
    left: 0;
}
.left-side-cereal{
    margin-left: 100px;
}
.many-product-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130px;
    color: #010C80;
    margin-right: -200px;
}
.explore-link-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

}
.explore-product .link-product{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 52px;
    color: black;
    font-weight: bold;
}
.arrow-link{
    width: 45px;
    height: 45px;
    margin-left: 20px;
    background: url(../assets/arrow-black.png);
    background-size: cover;
    background-position: center;
}
.arrow-link:hover{
    background: url(../assets/arrow-color.png);
    background-size: cover;
    background-position: center;
}
.link-product:hover{
    color: #010C80;
}

/********************* Our Story main ***************************/
.our-story-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    width: 100%;
    background-color: #010C80;
}
.left-side-story{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 200px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.our-story-title{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 100px;
}
.our-story-main-title{
    font-size: 7rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.our-story-describe{
    font-size: 3rem;
    margin-top: 100px;
    text-align: justify;
}
.check-it-out{
    font-size: 4rem;
    margin-top: 100px;
    color: white;
    text-decoration: white;
}
.check-it-out:hover{
    color: gray;
}
.right-side-story{
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
.right-img{
    width: 1500px;
    height: auto;
    margin-left: 300px;
}



/****************************************************************/

/******************* main contact *********************/
.contact-us-main{
    background-color: white;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    display: flex;
    align-items: center;
}
.contact-us-main-upper{
    margin-top: 250px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.contact-us-main-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7.5rem;
    color: #010C80;
    margin-top: 50px;
}
.contact-us-main-lower{
    background-color: whitesmoke;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 100px;
    padding: 100px 0;
}
.feedback-question{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-top: 20px;
    background-color: white;
    width: 35%;
    height: 700px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
    text-decoration: none;
}
.feedback-question .link-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: inherit;
}

.feedback-img{
    width: 200px;
    margin-bottom: 50px;
    margin-top: -15px;
    text-decoration: none ;
}
.feedback-title{
    font-size: 48px;
    color: black;
    margin-bottom: 50px;
    text-decoration: none;
}
.feedback-description{
    font-size: 36px;
    color: black;
    text-align: center;
    text-decoration: none !important;
}
.feedback-question:hover{
    border: 10px solid #010C80;
}
.feedback-question:hover .feedback-title,
.feedback-question:hover .feedback-description {
    color: #010C80;
}

.faq{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    background-color: white;
    width: 35%;
    height: 700px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.faq-img {
    width: 200px;
    margin-bottom: 50px;
    margin-top: -15px;
}
.faq-title {
    font-size: 48px;
    color: black;
    margin-bottom: 50px;
}
.faq-desc {
    font-size: 36px;
    color: black;
    text-align: center;
}
.faq:hover {
    border: 10px solid #010C80;
}
.faq:hover .faq-title,
.faq:hover .faq-desc {
    color: #010C80;
}
.contact-us-option{
    width: 80%;
    padding: 75px;
}
.circle{
    border-radius: 50%;
    background-color: #010C80;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin-left: 50px;
}
.icon{
    width: 75px;
    height: 75px;
}
.circle-icon{
    display: flex;
    flex-direction: row;
    align-items: center; 
}
.circle-icon a{
    margin: auto;
}
.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-left: 75px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
.box-icon{
    margin: 5px;
    text-align: center;
    background:  whitesmoke;
    border-radius: 20px;
    height: 250px;
    padding-left: 70px;
    margin-right: 40px;
    display: flex;
    align-items: flex-start; 
    justify-content: center; 
    flex-direction: column; 
}
.desc-option-contact{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    text-align: left;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.box-icon:hover{
    border: 5px solid #010C80;
}
.box-icon:hover .details{
    color: #010C80;
}



/******************************************************/

/**************************** home **********************************/

/*****************************************************************/

/*************************** About ***************************/
.about-container{
    background-color: white;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.about-banner{
    background: url(../assets/cereal-bowl-banner.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 65vh;
    margin-top: 150px;
    display: flex;
    position: static;
}
.history-title-main{
    font-size: 5rem;
    color: #010C80;
    margin-top: 150px;
    text-shadow: 2px 2px 5px lightgray;
}
.our-history{
    background-color: #010C80;
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 150px;
    height: auto;
    width: 90%;
    border-radius: 25px;
}
.history-title{
    font-size: 6rem;
    color: white;
    font-weight: bold;
}
.history-desc{
    color: white;
    font-size: 48px;
    line-height: 1.5;
    text-align: justify;
    padding-top: 90px;
}
.history-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: auto;
    margin-left: 200px;
    margin-right: 100px;
}

.our-mission{
    background-color: whitesmoke;
    color: #010C80;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px;
    height: auto;
    width: 90%;
    border-radius: 25px;
}
.our-mission-title{
    font-size: 6rem;
    color: #010C80;
    font-weight: bold;
}
.our-mission-desc{
    color: #010C80;
    font-size: 48px;
    line-height: 1.5;
    text-align: justify;
    padding-top: 90px;
}


/*************************************************/

/******************************** product ******************************/
.product-container{
    background-color: white;
    margin: 0;
}
.product-banner{
    background: url(../assets/product-banner.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 600px;
    justify-content: center;
    align-items: center;
    padding: 500px;
}
.intro-product{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7.5rem;
    color: #010C80;
    margin-top: 50px;
    text-shadow: 2px 2px 5px lightgray;
}
.product-title-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.product-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7.5rem;
    color: #010C80;
}
/***********************************************************************/


/***********************  `feedback    **********************/
.main-container-contact {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: white;
    justify-content: center;
}
  
.feedback-panel{
    background-color: whitesmoke;
    border-radius: 10px;
    height: auto;
    width: 90%;
    display: block;
    border-radius: 50px;
    padding: 100px;
    box-sizing: border-box;
    margin-left: 20px;
    margin-top: 300px;
}
.get-in-touch{
    margin-top: 20px;
    font-size: 3rem;
    color: #010C80;
    font-family: Arial, Helvetica, sans-serif;
}
.contact-title{
    font-size: 5rem;
    color: black;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}
.contact-desc{
    font-size: 3rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;

}
.contact-line{
    border-bottom: 1px solid black;
    margin-top: 70px;
    margin-bottom: 20px;
    justify-content: center;
}
form{
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}
.name-inputs{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
  
.first-name-input,.last-name-input {
    flex-basis: calc(50% - 10px);
}
  
.first-name-input label,.last-name-input label {
    display: block;
    margin-bottom: 10px;
}
  
.first-name-input input,.last-name-input input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
label{
    display: block;
    font-weight: bold;
    font-size: 3rem;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #010C80;
    padding-bottom: 20px;
    padding-top: 20px;
}
input[type="text"], input[type="email"], input[type="number"], textarea {
    border: none;
    border-radius: 5px;
    display: block;
    font-size: 2.5rem;
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    height: 100px;
    background-color: white;
}
input[type="text"]:hover, input[type="email"]:hover, input[type="number"]:hover, textarea:hover{
    border: 1px solid #010C80;
}
input[type="email"]{
    margin-bottom: 15px;
}
textarea{
    height: 500px;
    font-family: Arial, Helvetica, sans-serif;
}
input[type="submit"]{
    display: block;
    width: 100%;
    height: 100px;
    background-color: #010C80;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
    font-size: 2.5rem;
}

input[type="submit"]:hover{
    background-color:#56bfe1;
}
input[type="submit"]:active{
    background-color: darkblue;
}
.form-error-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
#form-status-error{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    background-color: whitesmoke;
    font-size: 3rem;
}

/* right panel */
.right-panel{
    background-color: none;
    height: 100%;
    width: 50%;
    display: block;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-left: 60px;
}

/* upper right panel */
.upper-right-panel {
    background-color: whitesmoke;
    width: 40%;
    height: 50%;
    border-radius: 10px;
    position: absolute;
    display: flex;
    top: 25px;
    justify-content: center;
    align-items: center;
    
}
.right-panel-img{
    width: 600px;
    height: 200px;
    border-radius: 10px;
}

/* lower right panel */
.lower-right-panel{
    background: whitesmoke;
    width: 40%;
    height: 40%;
    border-radius: 10px;
    position: absolute;
    display: flex;
    bottom: 25px;
    justify-content: space-between;
    flex-direction: column;
}

.empty-container-contact-upper{
    padding-top: 15px;
}
.empty-container-contact-lower{
    margin-bottom: 20px;
}




/******************** alert *************************/
.main-container-alert{
    background-color: white;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    padding-left: 500px;
    display: flex;
    flex-direction: column;
}
.thankyou-alert{
    margin-bottom: 50px;
    font-size: 72px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.des-alert{
    font-size: 52x;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
#backtohome-alert-btn{
    background: linear-gradient(to left, #010C80, #00BFFF);
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    color: white;
    margin-top: 20px;
    font-weight: bold;
}
#backtohome-alert-btn:hover{
    background: linear-gradient(to left, darkblue, blue)
}
#backtohome-alert-btn:active{
    background: linear-gradient(to left, black, darkblue);
}







/************** switch btn ********/
div.btn-container{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

div.btn-container i{
    display: inline-block;
    position: relative;
    top: -9px;
}

label {
    font-size: 13px;
    color: #424242;
    font-weight: 500;
}

.btn-age-mode-switch{
    display: inline-block;
    margin: 0px;
    position: relative;
}

.btn-age-mode-switch > label.btn-age-mode-switch-inner{
    margin: 0px;
    width: 140px;
    height: 30px;
    background: #E0E0E0;
    border-radius: 26px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    display: block;
}

.btn-age-mode-switch > label.btn-age-mode-switch-inner:before{
    content: attr(data-on);
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    top: 7px;
    right: 20px;
}

.btn-age-mode-switch > label.btn-age-mode-switch-inner:after{
    content: attr(data-off);
    width: 70px;
    height: 16px;
    background: #fff;
    border-radius: 26px;
    position: absolute;
    left: 2px;
    top: 2px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 6px -2px #111;
    padding: 5px 0px;
}

.btn-age-mode-switch > .alert{
    display: none;
    background: #FF9800;
    border: none;
    color: #fff;
}

.btn-age-mode-switch input[type="checkbox"]{
    cursor: pointer;
    width: 50px;
    height: 25px;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0px;
}

.btn-age-mode-switch input[type="checkbox"]:checked + label.btn-age-mode-switch-inner{
    background: #151515;
    color: #fff;
}

.btn-age-mode-switch input[type="checkbox"]:checked + label.btn-age-mode-switch-inner:after{
    content: attr(data-on);
    left: 68px;
    background: #3c3c3c;
}

.btn-age-mode-switch input[type="checkbox"]:checked + label.btn-age-mode-switch-inner:before{
    content: attr(data-off);
    right: auto;
    left: 20px;
}

.btn-age-mode-switch input[type="checkbox"]:checked + label.btn-age-mode-switch-inner{
}

.btn-age-mode-switch input[type="checkbox"]:checked ~ .alert{
    display: block;
}

/*mode preview*/
.dark-preview{
    background: #0d0d0d;
}

.dark-preview div.btn-container i.fa-adult{
    color: #777;
}

.dark-preview div.btn-container i.fa-child{
    color: #fff;
    text-shadow: 0px 0px 11px #fff;
}

.white-preview{
    background: #fff;
}

.white-preview div.btn-container i.fa-adult{
    color: #ffa500;
    text-shadow: 0px 0px 16px #ffa500;
}

.white-preview div.btn-container i.fa-child{
    color: #777;
}